<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-dns-prefetch-control" content="off" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
      id="viewport"
    />
    <meta name="robots" content="noindex" />
    <link
      type="text/css"
      rel="stylesheet"
      media="screen"
      href="https://assets.tumblr.com/assets/styles/global.css?_v=575a180469105f55c4d019c258cbec57"
    />
    <link
      type="text/css"
      rel="stylesheet"
      media="screen"
      href="https://assets.tumblr.com/assets/styles/verify_email.css?_v=fadac954598faa4ab265a9b69f6d9452"
    />
    <title>API Herbify</title>
    <style>
      body {
        background-color: #6a727f;
      }
    </style>
  </head>
  <body class="callout_page device_other">
    <table height="100%" width="100%">
      <tr>
        <td align="center" valign="middle">
          <img
            src="https://storage.googleapis.com/herbify/herbify-logo.png"
            width="200px"
          />
          <h2 class="callout_row header" id="l10n_title">
            <span class="callout_title" style="font-size: 32px"
              >Welcome to API Herbify</span
            >
          </h2>

          <div class="callout_row callout_row_text" style="font-size: 16px">
            The Herbify Backend API serves as a vital component of the Herbify
            application, facilitating efficient communication between clients
            and the server. <br />
            By leveraging our robust API, you can effortlessly handle incoming
            requests, perform advanced processing, and deliver tailored
            responses.
          </div>

          <!-- <div class="callout_row devices"> -->
          <!-- </div> -->
        </td>
      </tr>
    </table>
  </body>
</html>
